@page "/DonationEdit/{id:int}"

<h3>Edit Donation</h3>

<EditForm Model="@donation" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    //editing fields

    <button type="submit" class="btn btn-primary" onclick="">Update</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    private Donation donation;

    [Inject]
    public DonationService DonationService { get; set; }

    [Inject]
    public NavigationManager Navigation { get; set; }

    protected override void OnInitialized()
    {
        //donation = DonationService.GetDonationById(Id);
    }

    private void HandleValidSubmit()
    {
        //DonationService.UpdateDonation(Id, donation);
        Navigation.NavigateTo("/DonationList");
    }
}
