@page "/DonationForm"
@page "/DonationForm/{ID:int}"
@inject NavigationManager NavManager;
@using System.ComponentModel.DataAnnotations;
@using MWF.Pages;
@using MWF.Codes;
@using MWF.Models;
@using System;
@using System.Collections.Generic;
@using System.Data;
@using System.Data.SQLite;
@using System.Text;

@code {
    [Parameter] public int ID { get; set; }


    protected override void OnInitialized()
    {
        MyMessages = new();

        Model = new();
        if (ID > 0)
        {
            Model.SelectDonation(ID);
        }
    }



}


<style>
    .text-center {
        width: 100%; /* Make the container full width */
        text-align: center; /* Center text horizontally */
        margin: 0 auto; /* Auto margins for centering in block-level elements */
    }

    h2 {
        display: inline-block; /* Allows padding and margins to be applied more effectively */
    }

</style>

<h2 class="text-center">DONATION RECEIPT</h2>


<EditForm Model="@Model" OnSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <InputNumber @bind-Value="Model.SelectedDonation.Rec_No" class="form-control" id="txtRecNo" placeholder="Receipt No."></InputNumber>
                    <label for="txtRecNo">Receipt No.</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <InputDate @bind-Value="Model.SelectedDonation.Rec_Date" class="form-control" id="txtRecDate" placeholder="Receipt Date"></InputDate>
                    <label for="txtRecDate">Receipt Date</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3 ">
                    <InputText @bind-Value="Model.SelectedDonation.Reference" class="form-control" id="txtRef" placeholder="Reference"></InputText>
                    <label for="txtRef">Reference</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-floating mb-3 ">
                        <InputNumber @bind-Value="Model.SelectedDonation.DonorID" class="form-control" id="txtDonor" placeholder="Donar ID"></InputNumber>
                        <label for="txtDonor">Donar</label>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="form-floating mb-3 ">
                        <InputNumber @bind-Value="Model.SelectedDonation.DonationType" class="form-control" id="txtType" placeholder="Donation Type"></InputNumber>
                        <label for="txtType">Donation Type</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-3 ">
                        <InputNumber @bind-Value="Model.SelectedDonation.PaymentMode" class="form-control" id="txtMode" placeholder="Mode of Payment"></InputNumber>
                        <label for="txtMode">Payment Mode</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3 ">
                    <InputNumber @bind-Value="Model.SelectedDonation.Currency" class="form-control" id="txtCurrency" placeholder="Currency"></InputNumber>
                    <label for="txtCurrency">Currency</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3 ">
                    <InputText @bind-Value="Model.SelectedDonation.ChequeNo" class="form-control" id="txtChqNo" placeholder="Cheque No"></InputText>
                    <label for="txtChqNo">Cheque No. (if any)</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3 ">
                    <InputNumber @bind-Value="Model.SelectedDonation.Amount" class="form-control" id="txtAmount" placeholder="Amount"></InputNumber>
                    <label for="txtAmount">Amount</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-floating mb-3 ">
                    <InputText @bind-Value="Model.SelectedDonation.Phone" class="form-control" id="txtPhone" placeholder="Cheque No"></InputText>
                    <label for="txtPhone">Phone No.</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3 ">
                    <InputText @bind-Value="Model.SelectedDonation.Email" class="form-control" id="txtEmail" placeholder="Cheque No"></InputText>
                    <label for="txtEmail">Email address</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3 ">
                    <InputText @bind-Value="Model.SelectedDonation.Remarks" class="form-control" id="txtRemarks" placeholder="Cheque No"></InputText>
                    <label for="txtRemarks">Remarks</label>
                </div>
            </div>
        </div>
    </div>



    <div class="=container">
        <div class="row">
            <div class="col-2">
                <button type="button" class="btn btn-success" @onclick="SaveDonation">Save Data</button>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary" @onclick="Submit">Save</button>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary" @onclick="Back" style="text-align:center; margin-bottom: 20px;">Back</button>
            </div>


        </div>
    </div>

</EditForm>


