@inherits LayoutComponentBase

<PageTitle>MWF</PageTitle>
<div class="container-fluid">

 <div>
     <NavMenu />
 </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

