@inject NavigationManager NavManager;

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow p-0">
    <div class="container-fluid" style="background: rgb(200, 180, 140); color:rgb(34, 60, 97);">
        <a class="navbar-brand" asp-page="/Index"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            
            <img src="./GalaryPic/welfare (4).jpg" style="border-radius: 40%;" height="120" width="50" alt="" />
            <ul class="navbar-nav flex-grow-1" style="display: contents; margin-top:4px; margin-bottom:4px">
                <li class="nav-item">
                    <button type="submit" class="btn-Menu" id="btn-account" @onclick="Home">Home</button>
                    @* <a href="./" class="nav-link active">Home</a> *@
                </li>
                <li class="nav-item">
                    <button type="submit" class="btn-Menu" id="btn-account" @onclick="About">About</button>
                    @* <a href="/About" class="nav-link active">About</a> *@

                </li>
                <li class="nav-item">
                    <button type="submit" class="btn-Menu" id="btn-account" @onclick="Gallery">Gallery</button>
                   @*  <a href="/Gallery" class="nav-link active">Gallery</a> *@
                </li>
                <li class="nav-item">
                    <button type="submit" class="btn-Menu" id="btn-account" @onclick="Review">Review</button>
                    @* <a href="/Review" class="nav-link active">Review</a> *@
                </li>
                <li class="nav-item">
                    <button type="submit" class="btn-Menu" id="btn-account" @onclick="Receipt">Receipt</button>
                    @* <a href="/Receipt" class="nav-link active">Receipt</a> *@
                </li>
                <li class="nav-item">
                    <button type="submit" class="btn-Menu" id="btn-account" @onclick="Contact">Contact us</button>
                    @* <a href="/ContactUs" class="nav-link active">Contact Us</a> *@
                </li>
            </ul>
            <button type="button" class="btn btn-primary" onclick="window.location.href='';">
                Archived
            </button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='https://donate.mumtazwelfare.org/';">
                Donate Now
            </button>
            <a class="btn btn-danger" href="/DonationList" role="button">
                Reciept
            </a>

        </div>
    </div>
</nav>



@code{
    public void Home() { NavManager.NavigateTo($"/", true); }
    public void About() { NavManager.NavigateTo($"/About", true); }
    public void Gallery() { NavManager.NavigateTo($"/Gallery", true); }
    public void Review() { NavManager.NavigateTo($"/Review", true); }
    public void Receipt() { NavManager.NavigateTo($"/Receipt", true); }
    public void Contact() { NavManager.NavigateTo($"/Contact", true); }




}

<style>
    .btn-Menu {
        background-image: linear-gradient(#0dccea, #0d70ea);
        border: 0;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-family: Montserrat, sans-serif;
        font-size: .9em;
        margin: 5px;
        padding: 10px 15px;
        text-align: center;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }


</style>