@page "/ContactUs"



@code {

}
<style>
    *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }
    
</style>

<div class="contactcontainer">
    <h22>Contact Us</h22>
    <input type="text" placeholder="Name" >
    <input type="email" placeholder="Email">
    <textarea rows="10" placeholder="Type your comment" ></textarea>
    <buttonsubmit>Submit</buttonsubmit>
</div>