@page "/Gallery"

<h3>Gallery</h3>

@inject NavigationManager NavigationManager

@code {
    private void NavigateToNextPage()
    {
        NavigationManager.NavigateTo("/Rashion2024");
    }
}

    <div class="container mt-3">
        <div class="row">
        <div class="col-md-4 mb-2">
            <div class="card">
                <img src="/GalaryPic/Ramadan Ration/Ration3.jpg" class="card-img-top" alt="Image 1" style="height:100%">
                    <div class="card-body">
                        <h5 class="card-title">Ramadan 2024</h5>
                    <button type="button" class="btn btn-primary" @onclick="NavigateToNextPage">Click Here</button>
                </div>
                </div>
            </div>
        
            <div class="col-md-4 mb-2">
            <div class="card">
                <img src="/GalaryPic/Qurani Makatib/QM1.jpg" class="card-img-top" alt="Image 1" style="height:100%">
                    <div class="card-body">
                        <h5 class="card-title">Qurani Makatib</h5>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/Qurani Makatib';">Click Here</button>
                    </div>
                </div>
            </div>
        <div class="col-md-4 mb-2">
                <div class="card">
                <img src="/GalaryPic/Sadqa Bakra/Sadqa Bakra 1.png" class="card-img-top" alt="Image 2" style="height:100%">
                    <div class="card-body">
                        <h5 class="card-title">Sadqa Bakra</h5>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/Sadqa Bakra';">Click Here</button>
                    </div>
                </div>
            </div>
        <div class="col-md-4 mb-2">
                <div class="card">
                <img src="/GalaryPic/food/food.jpg" class="card-img-top" alt="Image 3" style="height:100%">
                    <div class="card-body">
                        <h5 class="card-title">Madarsa Food</h5>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/Madarsa Food';">Click Here</button>
                    </div>
                </div>
            </div>
        <div class="col-md-4 mb-2">
            <div class="card">
                <img src="/GalaryPic/dispensary/dispensary4.png" class="card-img-top" alt="Image 1" style="height:100%">
                <div class="card-body">
                    <h5 class="card-title">Medical Dispensary</h5>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/Dispensary';">Click Here</button>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/Opening';">Opening</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card">
                <img src="/GalaryPic/pump/july pump1.jpg" class="card-img-top" alt="Image 2" style="height:100%">
                <div class="card-body">
                    <h5 class="card-title">Pump Installation</h5>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/Pump';">Click Here</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card">
                <img src="/GalaryPic/well/well1.png" class="card-img-top" alt="Image 3" style="height:100%">
                <div class="card-body">
                    <h5 class="card-title">Well Installation</h5>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/Well';">Click Here</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card">
                <img src="/GalaryPic/Rashan/Rashan1.jpg" class="card-img-top" alt="Image 3" style="height:100%">
                <div class="card-body">
                    <h5 class="card-title">Monthly Rashan</h5>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/Rashan';">Click Here</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card">
                <img src="/GalaryPic/Qurbani 2023/qurbani 5.jpg" class="card-img-top" alt="Image 2" style="height:100%">
                <div class="card-body">
                    <h5 class="card-title">Qurbani 2023</h5>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/Qurbani';">Click Here</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card">
                <img src="/GalaryPic/aqeeqa .jpg" class="card-img-top" alt="Image 1" style="height:100%">
                <div class="card-body">
                    <h5 class="card-title">Aqeeqa</h5>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/';">Click Here</button>
                </div>
            </div>
        </div>
        
    </div>
    </div>