@page "/Rashan"

<h3>Rashan</h3>

@code {

}

<div class="container">
    <div class="row imgcard d-flex gap-4 flex-wrap justify-content-center mb-4">
        <img src="/GalaryPic/Rashan/Rashan7.jpeg" alt="1" />
        <img src="/GalaryPic/Rashan/Rashan6.jpg" alt="1" />
        <img src="/GalaryPic/Rashan/Rashan5.jpg" alt="1" />
        <img src="/GalaryPic/Rashan/Rashan1.jpg" alt="1" />
        <img src="/GalaryPic/Rashan/Rashan2.jpg" alt="1" />
        <img src="/GalaryPic/Rashan/RAshan3.jpg" alt="1" />
        <img src="/GalaryPic/Rashan/Rashan4.jpg" alt="1" />
    </div>
</div>